extends layouts/main

block content
    .upload-container
        .record-container#jsRecordContainer
            video#jsRecordPreview
            button#jsRecordButton Start Recording
        form(action=`${routes.videos}${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload Video")